<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>phone_verification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="phone_verification.css">
</head>
<body>
  <div>
     <nav>
    <img src="image/user.png" class="account">
    <label class="account">My Account</label>
    <label class="login">Login</label>
  </nav> 
  </div>
 

  <div class="loginbox">
  <img src="image/patient.png" class="patientlogo"> 
    <h1>Login</h1>
    <h3>Login with your valid mobile number:</h3>
    <label class="nu">+91</label>
    <form action="verify.html">
      <input type="text" name="" placeholder="Name">
      <input type="mobile" name="" placeholder="Mobile number">
      <input type="submit" name="" value="Submit">
      <div>
        <br><br>
      <a class="patient" href="phone_verification (1).html">Login as patient</a>
      <a class="doctor" href="phone_verification(d).html">Login as doctor</a>
      </div>
    </form> 
    
  </div>

</body>
</html>
